@model IEnumerable<invoice.Models.tblcustomer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Customer ID")
        </th>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Email Id")
        </th>
        <th>
            @Html.Label("Mobile Number")
        </th>
        <th>
            @Html.Label("Print")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileno)
            </td>
           
<td>
                @Html.ActionLink("Print Invoice", "GetCustomerId", new { id = item.idcustomer})
        </tr>
    }

</table>
